body {
    text-align: center;
}

td, tr, th {
    padding: 5px;
    text-align: center;
    border: 1px solid black;
}

thead {
    color: white;
    background-color: rgb(110, 110, 110);
}

table, th {
    border: 2px solid black;
}

.position {
    background-color: rgb(57, 181, 90);
}

.woaj1, tfoot {
    background-color: rgb(255, 204, 0);
}

.woaj2 {
    background-color: rgb(180, 180, 180);
}

.woaj3 {
    background-color: rgb(230, 77, 0);
}

.woaj1, .woaj2, .woaj3 {
    font-weight: bold;
}

.tableDiv {
    display: inline-block;
}

.DNF {
    background-color: rgb(230, 0, 0);
}

.DNS {
    background-color: rgb(0, 138, 230);
}